<div class="card" style="width: 38rem; margin: 5%">
    <div class="card-body">
        <h2 class="card-title">Movie Hub</h2>
        <form (ngSubmit)="SubmitForm()" #myForm="ngForm">
        <div class="form-group">
            <label for="title">Search :</label>                                        
            <input style="width: 100%" class="form-control" name="title" id="title"  [(ngModel)]="movieSearch" type="text"
            placeholder="Enter search information" [disabled]="useFilter" ><br>
        </div>
        <div class="form-group form-check">
            <input (change)="toggleFilter()" type="checkbox" class="form-check-input" id="useFilter">
            <label class="form-check-label" for="useFilter">Use Filters</label>
        </div>  

        <div class="card col-6" *ngIf="useFilter" >
            <div class="card-body">

                <div class="form-group form-genre">
                    <select class="form-control"  #dpGenre (change)="onSelectedGenreType(dpGenre.value)" 
                        name="genre" [(ngModel)]="genreFilter" #genre="ngModel" >
                        <option value="" >Choose Genre...</option>
                        <option *ngFor="let genre of (genreData$ | async)?.genres"
                            [value]="genre.id">{{genre.name}}
                        </option>
                    </select>    
                </div>    
                <div class="form-group form-rating" >
                    <label for="rating">Rating :</label>
                    <input class="form-control"  name="rating" id="rating" [(ngModel)]="ratingFilter" min="0" max="10" type="number">                    
                </div>
                <div class="form-group form-runtime" >
                    <label for="runtime">Minimum Runtime :</label>
                    <input class="form-control" name="runtime" id="runtime" [(ngModel)]="runtimeFilter"  min="0" type="number">
                </div>   

            </div>
        </div>
        
        

        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group">
                <button type="submit" class="btn btn-primary btn-sm" [disabled]="!myForm.valid">Search </button>                
                </div>
                <div class="btn-group margin mr-2"style="margin-left: 20px" role="group">
                <button [routerLink]="['/watchlist']" class="btn btn-success btn-sm">Go To Watchlist</button>    
                </div>              
        </div>
        </form>
    </div>
</div>

<div class="card col-8 m-5" style="margin: 5%" *ngIf="movieResutls.length > 0">
    <h4 class="card-title m-3">Search Results</h4>
    <div class="card-body">

        <div >
            <ul class="list-group">
                <ng-container *ngFor="let item of movieResutls; let i=index">
                    <app-movie-result [movie]="item" (addWatchlistItemEvent)="addtoWatch($event)"></app-movie-result>
                </ng-container>    
            </ul>
        </div>
        
        <div *ngIf="maxPage > 0">
           
            <span >
                <button *ngIf="currentPage > 1" (click)="previousPage()">Previous</button>
            </span> 
                Page {{currentPage}} of {{this.maxPage}} 
        
            <span >
                <button *ngIf="currentPage < maxPage" (click)="nextPage()">Next</button>
            </span> 
        </div>
    </div>
</div>
 